<%-include('partials/header.ejs')%>
    
    <h2 class="text-center"><%=meal.strMeal%></h2>
    <div class="text-center mb-5">
        <img src="<%=meal.strMealThumb%>" alt="..." style="width:350px;border-radius:25%">
    </div>
    
    
   
        <a style="width:350px" class="btn btn-primary d-block mb-3 mx-auto" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button"
        aria-expanded="false" aria-controls="multiCollapseExample1">Ingredients</a>
        
            <div class="collapse multi-collapse mb-4" id="multiCollapseExample1">
                <div class="card card-body text-center">
                   <%ingredients.forEach((elem)=>{%>
                    <p>
                        <%=elem.ing%>
                        <%if(elem.measure!==" "){%>
                            : <%=elem.measure%> 
                        <%}%>
                        
                    </p>
                   <%})%>
                </div>
            </div>
        <button style="width:350px" class="btn btn-primary d-block mx-auto mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample2"
        aria-expanded="false" aria-controls="multiCollapseExample2">Preparation</button>
        
            <div class="collapse multi-collapse mb-4" id="multiCollapseExample2">
                <div class="card card-body">
                    <ul>
                        <%prep.forEach((elem)=>{%>
                            <%if(elem){%>
                            <li><%=elem%></li>  
                                <%}%>
                        <%})%>
                    </ul>
                </div>
            </div>
        </div>

    <%-include('partials/footer.ejs')%>